* {
    padding: 0px;
    margin: 0px;

}

body {
    padding: 0px;
    margin: 0px;
}

html {
    padding: 0px;
    margin: 0px;
}

header {

    border-bottom: 1px solid rgba(124, 121, 121, 0.698);
    height: 65px;
}

header nav img {
    padding: 8px;
    margin-left: 30px;
    float: left;

}

header nav ul {
    height: 65px;
    display: inline-block;
    margin-left: 200px;
}

header nav ul li {
    list-style: none;
    float: left;


}

header nav ul li a:hover {
    background-color: rgb(235, 232, 232);
    border-bottom: 4px solid rgba(255, 0, 0, 0.698);
}

header nav ul li a {
    display: block;
    padding: 21px 6px;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.menu_item img {
    height: 30px;
    width: 30px;

}

.menu_item {
    margin-left: 10px;
    height: 55px;
    display: inline-block;
    margin-left: 60px;
}

.menu_item div {
    display: inline-block;
    padding: 12px 5px;
}

.menu_item img:hover {
    background-color: rgba(255, 0, 0, 0.698);
    border-radius: 30px;
    transition: all 0.5s;
}


.fotter_t {
    left: 0;
    bottom: 150px;
    width: 100%;
    text-align: center;
    height: 150px;
    background-color: rgba(124, 121, 121, 0.698);
}

.fotter_t .div_first {
    display: block;
    font-size: 25px;
    width: 70%;
    padding: 10px;
    float: left;
}

.fotter_t .div_last {
    width: 25%;
    float: right;
    padding: 7px;
}

.fotter_t .div_first ul {
    list-style: none;
    padding: 10px;
}

.fotter_t .div_first ul li {
    display: inline-block;
    padding: 10px;
}

.fotter_t .div_first ul li a {
    text-decoration: none;
}

.fotter_t .div_last ul {
    list-style: none;
}

.fotter_t .div_last ul li {
    padding: 10px;
    text-align: left;
}

.fotter_t .div_last ul li a {
    text-decoration: none;
}

.fotter_t .div_last ul li img {
    text-align: left;
    margin-bottom: -8px;
    height: 30px;
    width: 30px;
    padding: 0px 12px;
}

.last_footer {

    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    height: 150px;
    width: 100%;
}

.last_footer p {
    text-align: left;
    padding: 20px 14px;
}

.fst_sec {
    background-color: rgb(231, 227, 227);
    margin-top: 20px;
}

.fst_sec .table_c {
    
    background-color: white;
    margin-top: 3px;
    border-radius: 3px;
    width: 300px;
    display: inline-block;
}

.fst_sec .table_c img {
    
    padding: 2px;
    width: 38%;
    height: 75px;
    float: left;
}

.fst_sec .table_c h2 {
    color: black;
    padding: 2px;
    font-size: 15px;
    width: 58%;
    float: right;
}
.fst_sec .table_c h2:hover {
    color: rgb(180, 57, 57);

}